@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

h2 {
    margin-top: 2px;
    text-align: center;
    font-size: 60px;
}

body {
  /* margin-top: 55px; */
  text-align: center;
  background-blend-mode: multiply;
  background: seagreen;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.center-wrapper {
  background-color: blue;
  width: 70%;
  margin: auto;
  background-color: rgb(38, 106, 67);
  border-radius: 10px;
}
